body {
	margin:					0;
	padding:				0;
	background-color: 		#f1e6e6;
	width:					978px;
	height:					100%;
}

div#left_nav {
	background-color:		#ffffff;
	box-shadow: 			1px 1px 2px 2px #9c9292;
	-webkit-box-shadow: 	1px 1px 2px 2px #9c9292;
	-moz-box-shadow:		1px 1px 2px 2px #9c9292;
	float:					left;
	margin:					5px;
	width:					150px;
	position:				absolute;
	top:					0;
	bottom:					0;
}

div#left_nav li {
	list-style:				none;
	background-color:		gray;
	margin-bottom:			2px;
}

div#left_nav li a {
	text-decoration:		none;
	color:					#000000;
}

div#left_nav li a:hover {
	border-radius:			10px;
	font-size:				1.2em;
}

div#lesson_section {
	background-color: 		#ffffff;
	box-shadow: 			1px 1px 2px 2px #9c9292;
	-webkit-box-shadow: 	1px 1px 2px 2px #9c9292;
	-moz-box-shadow:		1px 1px 2px 2px #9c9292;
	float:					left;
	margin:					5px;
	position:				absolute;
	left:					160px;
	top:					0;
	bottom:					0;
	width:					100%;
}

div#prev_next{
	float:					left;
	display:				block;
	width:					100%;

}